# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/database/*.sqlite
backend/storage/*.key
backend/.phpunit.cache

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/
mobile/ios/
mobile/linux/
mobile/macos/
mobile/windows/
mobile/web/

# General
.DS_Store
